# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = nfl.settings

#Project: nfl
[deploy]
url = https://dash.scrapinghub.com/api/scrapyd/
username = 05bf59794f274d65acadc8ea9a04cd37
password =
project = 30105
